sudo apt update
sudo apt install -y ffmpeg

wget http://security.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2_amd64.deb
sudo dpkg -i libssl1.1_1.1.1f-1ubuntu2_amd64.deb
sudo apt-get install -f

wget https://repo.mongodb.org/apt/ubuntu/dists/focal/mongodb-org/7.0/multiverse/binary-amd64/mongodb-org-server_7.0.11_amd64.deb
sudo dpkg -i mongodb-org-server_7.0.11_amd64.deb
sudo apt-get install -f

wget https://downloads.mongodb.com/compass/mongosh-2.2.9-linux-x64.tgz
tar -zxvf mongosh-2.2.9-linux-x64.tgz
sudo mv mongosh-2.2.9-linux-x64/bin/mongosh /usr/local/bin/
mongosh --version

wget https://fastdl.mongodb.org/tools/db/mongodb-database-tools-ubuntu2204-x86_64-100.9.5.tgz
tar -zxvf mongodb-database-tools-ubuntu2204-x86_64-100.9.5.tgz
sudo mv mongodb-database-tools-ubuntu2204-x86_64-100.9.5/bin/mongodump /usr/local/bin/
sudo mv mongodb-database-tools-ubuntu2204-x86_64-100.9.5/bin/mongorestore /usr/local/bin/
sudo mv mongodb-database-tools-ubuntu2204-x86_64-100.9.5/bin/mongoimport /usr/local/bin/
sudo mv mongodb-database-tools-ubuntu2204-x86_64-100.9.5/bin/mongoexport /usr/local/bin/
sudo mv mongodb-database-tools-ubuntu2204-x86_64-100.9.5/bin/mongofiles /usr/local/bin/
sudo mv mongodb-database-tools-ubuntu2204-x86_64-100.9.5/bin/bsondump /usr/local/bin/
mongodump --version


bsondump dump/Metadata/Transcription.bson > dump/Metadata/Transcription.json
mongoimport --db Metadata --collection Transcription --file dump/Metadata/Transcription.json

sudo systemctl start mongod
sudo systemctl status mongod
#use Metadata
#db.createCollection("Transcription")